@media screen and (max-height: 450px) {
  .navbar .sidenav {
    padding-top: 15px;
  }
  .navbar .sidenav a {
    font-size: 18px;
  }

.inline-link {
  display: inline-block;
}
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.scroll-button.show {
  opacity: 1;
  pointer-events: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
}

.navbar-toggler {
  display: none;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
  background-image: url('your-toggle-icon.png');
  background-size: cover;
}
.navbar-buttons{
  padding: 0;
  }
@media (max-width: 767px) {
  .navbar-toggler {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-toggler:checked + .navbar-collapse {
    display: block;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .navbar-nav .nav-link {
    color: #212529;
    font-weight: 600;
  }

  .navbar-brand {
    display: block;
    margin-bottom: 10px;
  }

  .navbar-brand img {
    height: auto;
    max-width: 150px;
  }

  .icons-menu,
  .navbar-buttons {
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  .navbar-nav .nav-item,
  .icons-menu,
  .navbar-buttons .btn ,
  .nav-link {
    display: none;
  }

  .navbar-brand {
    margin-bottom: 0;
  }

  .navbar-brand img {
    max-width: 200px;
  }
}

/* Add this CSS to your existing styles */

.sidenav {
  position: relative;
  z-index: 99;
}

.menu-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 99;
}

.menu-container {
  display: none;
}

@media (max-width: 950px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100vh;
    background-color: yellow;
    z-index: 20;
  }

  .menu-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .menu-container a:hover {
    transform: scale(1.1);
  }
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}
/* App.css */
.slide-content {
  /* Styles for default slide size */
  height: 300px;
  width: 100%;
  /* Add your other styles for the slide content */
}

@media screen and (max-width: 1024px) {
  .slide-content {
    /* Styles for screens with a maximum width of 1024px */
    height: 250px;
    /* Adjust other styles as needed */
  }
}

@media screen and (max-width: 768px) {
  .slide-content {
    /* Styles for screens with a maximum width of 768px */
    height: 200px;
    /* Adjust other styles as needed */
  }
}

@media screen and (max-width: 480px) {
  .slide-content {
    /* Styles for screens with a maximum width of 480px */
    height: 150px;
    /* Adjust other styles as needed */
  }
}
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
  
}

.scrollToTop.show {
  opacity: 1;
}

.scrollToTop a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding : 10px;
  background-color: #fff;
}

.mbr-arrow-up-icon {
  font-size: 20px;
  color: #333; /* Adjust the icon color as needed */
}
